.hamburger__bar {
  display: block;
  width: 26px;
  height: 3px;
  margin: 5px auto;
  transition: 0.3s ease all;
  will-change: transform;
  background: #222;
}

.hamburger__top-bar {
  transform: none;
}

.hamburger__top-bar.--transform {
  transform: rotateZ(45deg) translateX(25%) translateY(150%);
}

.hamburger__middle-bar {
  width: auto;
}

.hamburger__middle-bar.--transform {
  width: 0;
}

.hamburger__bottom-bar {
  transform: none;
}

.hamburger__bottom-bar.--transform {
  transform: rotateZ(-45deg) translateX(25%) translateY(-150%);
}

.hamburger__container {
  align-self: flex-start;
  display: none;
  width: 26px;
  height: 26px;
  cursor: pointer;
  transition: 0.3s ease all;
  position: relative;
  justify-content: right;
  margin: 0;
  z-index: 999;
}

@media (max-width: 780px) {
  .hamburger__container {
    display: inline-block;
  }
}
