html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  background: #f9f9fa;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  color: hsla(0, 0%, 0%, 0.8);
  height: 100%;
}

.hidden {
  display: none;
}
